body {
  margin: 0;
  padding: 0;
}

.container {
  position: relative;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.container .building {
  width: 100%;
  height: 152px;
  background-image: url("image/building.jpeg");
  background-repeat: repeat-x;
}

.container .canvas {
  position: absolute;
  background-color: #7d79e1;
  top: 0;
  left: 0;
}

.container .score-board {
  position: fixed;
}
